<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Página Inicial - Sistema de Reservas</title>
</head>
<body>
<!-- Conteúdo principal -->
<main layout:fragment="conteudo" id="main" class="flex flex-col items-center justify-center w-full">
    <h1 class="text-3xl md:text-5xl font-bold text-center mt-10">
        Bem-vindo ao Sistema de Reservas do Hotel
    </h1>
    <p class="text-lg text-gray-700 text-center mt-4 max-w-2xl">
        Gerencie suas reservas, acompanhe o status dos quartos e otimize a gestão do seu hotel de forma simples e eficiente.
    </p>
    <div class="mt-8 space-x-4">
        <!-- Botão Gerenciar Quartos -->
        <a
                href="/quartos"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded"
        >
            Gerenciar Quartos
        </a>
        <!-- Botão Ver Reservas -->
        <a
                href="/reservas"
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded"
        >
            Gerenciar Reservas
        </a>
        <!-- Botão Gerenciar Usuários -->
        <a
                href="/usuarios"
                class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded"
                sec:authorize="hasRole('ROLE_ADMIN')"
        >
            Gerenciar Usuários
        </a>
        <!-- Botão Gerenciar Clientes -->
        <a
                href="/clientes"
                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-3 px-6 rounded"
        >
            Gerenciar Clientes
        </a>
    </div>
</main>
<!-- !Conteúdo principal -->
</body>
</html>
